<!DOCTYPE html> 
<html>
    <head>
        <title>BricolajPro</title>
        <link rel = "stylesheet" type = "text/css" href = "stil.css">
    </head>
    <body>
        <div >
            <a href="/"><button class="button">Acasa</button></a>
            <a href="chestionar"><button class="button">Chestionar</button></a>
        </div>

        <div class="header-welcome">
            <br><h1>Welcome to BricolajPro</h1><br>
        </div>
      
    
        <br/><br/>
        <main>
            <%- body %>
        </main>
        
    </body>
</html>