<fielset class="rez-chestionar">
<h2 class="raspuns">Răspunsuri corecte: <%= raspunsuri %></h2>
<% if (raspunsuri < 3){ %>
    <p>Mai ai de invatat!</p>
    <% } else {%>
        <p>Foarte bine!!</p>
    <% } %>


</fielset>
